# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Documentation can be genera
/doc

# Ignore private files
/config/database.yml
/config/initializers/secret_token.rb
