// ==> Header

#headerwrap {
  background: image-url('pages/main/header-bg1.jpg') no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 750px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    margin-top: 130px;
    color: #fff;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  i {
    font-size: 35px;
    color: #fff;
  }

  .claim  {
    font-weight: normal;
    font-size: 7em;
  }

  .spacer {
    margin-top: 220px;
  }

  > .container > .row {
    margin-top: 200px;
  }
}

@media (max-width: 640px){
  #headerwrap .claim  {
    font-size:5em;
  }
}
