// ==> Header

#headerwrap {
  background: image-url('pages/main/header-bg1.jpg') no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 750px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    margin-top: 130px;
    color: #fff;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 3px;
  }

  h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  i {
    font-size: 35px;
    color: #fff;
  }

  .claim  {
    font-weight: normal;
    font-size: 7em;
  }

  .spacer {
    margin-top: 220px;
  }

  > .container > .row {
    margin-top: 200px;
  }
}

.main-presentation {
  font-size: 2.1em;
}

@media (max-width: 640px){
  #headerwrap .claim  {
    font-size:5em;
  }
}

// ==> Services

#services {
  background: #003366;
  margin-top: 25px;
  padding-top: 35px;
  padding-bottom: 35px;

  h3 {
    color: #fff;
  }
  p {
    color: #fff;
  }
  i {
    color: #fff;
    font-size: 35px;
  }
}

// ==> Portfolio

#portfolio {
  width: 100%
}

// ==> Partners

#lg {
  background: #ebebeb;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  .partners-title {
    font-size: 2.1em;
    margin: 0 0 40px;
  }

  .desc {
    text-align: left;
  }

  img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    transition: all 1s ease;

    &:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
    }
  }
}
