<div id="news-title-container" class="container">
  <div class="row mt">
    <h1 id="news-title">
      <%= title %>
      <small id="news-publish-date" class="pull-right"><%= l publish_date, format: :long %></small>
    </h1>
  </div>
  <hr>
</div>
