<!-- MAIN IMAGE SECTION -->
<div id="portwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>We Create Cool Stuff</h2>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- /container -->
</div>
<!-- /portrwrap -->

<!-- WELCOME SECTION -->
<div class="container">
  <div class="row mt">
    <div class="col-lg-8">
      <h1>We build websites & apps that people love!</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="col-lg-4">
      <p class="pull-right">
        <br>
        <button type="button" class="btn btn-green">Start Your Project Now</button>
      </p>
    </div>
  </div>
  <!-- /row -->
</div>
<!-- /.container -->

<!-- PORTFOLIO SECTION -->
<div id="portfolio">
  <div class="container">
    <div class="row mt">
      <ul class="grid effect-2" id="grid">
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/1.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/3.png">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../assets/img/portfolio/4.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/12.png">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/13.png">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../assets/img/portfolio/10.png">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/9.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/2.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/14.png">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/5.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/6.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/7.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/6.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/9.jpg">
          </a>
        </li>
        <li>
          <a href="/it/partials/singleproject.html">
            <img src="../../assets/img/portfolio/11.png">
          </a>
        </li>
      </ul>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- portfolio -->


<!-- CLIENTS LOGOS -->
<div id="lg">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-2 col-lg-offset-1">
        <img src="../../assets/img/clients/c01.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="../../assets/img/clients/c02.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="../../assets/img/clients/c03.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="../../assets/img/clients/c04.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="../../assets/img/clients/c05.gif" alt="">
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- dg -->


<!-- CALL TO ACTION -->
<div id="call">
  <div class="container">
    <div class="row">
      <h3>THIS IS A CALL TO ACTION AREA</h3>
      <div class="col-lg-8 col-lg-offset-2">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <p>
          <button type="button" class="btn btn-green btn-lg">Call To Action Button</button>
        </p>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- Call to action -->

<div class="container">
  <div class="row mt">
    <div class="col-lg-12">
      <h1>Stay Connected</h1>
      <p>Join us on our social networks for all the latest updates, product/service announcements and more.</p>
      <br>
    </div>
    <!-- col-lg-12 -->
  </div>
  <!-- row -->
</div>
<!-- container -->
