<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div>
        <%= render 'errors/keep_calm', { message: t(:errors_keep_calm_url_not_found) } %>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div> <!-- #headerwrap -->
