<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div>
        <h1 class="claim">404 - not found</h1>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div> <!-- #headerwrap -->
