<div class="cbp-af-header">
  <div class="cbp-af-inner">
    <h1>SPOT Software</h1>
    <nav>
      <% @navbar_links.each do |navbar_link| %>
        <%= link_to navbar_link[:title], navbar_link[:link], class: current_page?(navbar_link[:link]) ? 'active' : '' %>
      <% end %>

      <% @navbar_anchors.each do |navbar_anchor| %>
        <%= link_to navbar_anchor[:title], "##{navbar_anchor[:anchor]}", 'data-bind' => 'click: scrollToAnchor' %>
      <% end %>
    </nav>
  </div>
</div>
