#cf {
  background: #2f2f2f;
}
#cf h4 {
  color: #fff;
  margin-left: 15px;
  margin-top: 15px;
}
#cf p {
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  margin-left: 15px;
}
#cf .container {
  width: 100%
}
#cf .col-lg-8 {
  margin: 0;
  padding: 0;
}
#cf .mail {
  color: #FFFFFF;
  text-decoration: underline;
}

#mapwrap {
  margin: 0;
  padding: 0;
  position: relative;
}

#mapwrap .map-overlay {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 600px;
}
