@import "commons/large_header";


// ==> Variables

$text-color: #ffa500;
$status-indicator-vertical-margin: 1em;


// { KeepCalm styles

.keep-calm-wrapper {

  font-family: 'Keep Calm', 'Open Sans', sans-serif;

  .status-indicator {
    margin-top: $status-indicator-vertical-margin;
    margin-bottom: $status-indicator-vertical-margin;
  }

  .keep-calm,.sorry,.sometime-we-fail {
    font-weight: normal;
    font-size: 3em;
    color: $text-color;
  }

  .and {
    font-weight: normal;
    font-size: 2em;
    color: $text-color;
  }

}

// }
